body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #474e5d;
}
.fornt {
    text-align: center;
    border: #474e5d;
    background-color:white;
    border-radius: 20px;
    padding: 50px 50px 50px 50px;
    margin: 25% 20% 50% 20%;
}
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #474e5d;
    padding-top: 50px;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 10px 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 10px;
    margin: 8px 2px;
    border: none;
    width: 100px;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}
.cancelbtn {
    padding: 14px 10px;
    background-color: #f44336;
}
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  .container {
    padding: 16px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
    padding: 20px;
    border-radius: 10px;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 720px) {
    .modal-content {
       margin: 30% auto 50% auto;
    }
    .fornt{
        text-align: center;
        border: #474e5d;
        background-color:white;
        border-radius: 20px;
        padding: 50px 50px 50px 50px;
        margin: 50% 20% 50% 20%; 
    }
}
  